.team {
    padding: 94px 0;
    background: var(--second-bg-color--);
}

.team .container {
    flex-direction: column;
}

.team__item {
    background: var(--primary-bg-color--);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__container {
    padding: 30px 32px 30px 32px;
    background-color: var(--primary-bg-color--);
}

.team__item:not(:last-child) {
    margin-right: 30px;
}


.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--primary-text-color--);
}

.team__list {
    display: flex;
}

.team__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--primary-text-color--)
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--secondary-text-color--)
}

.team .team__soc-link {
    color: var(--svg-links-color--);
    transition: color var(--primary-transition-time--) var(--primary-cubic-function--),
        background-color var(--primary-transition-time--) var(--primary-cubic-function--);
}

.team .link:hover,
.team .link:focus {
    color: var(--primary-bg-color--);
    background-color: var(--accent-text-color--);
}
.team-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__soc-list {
    display: flex;
    justify-content: center;

}

.team__soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.team__soc-item:first-child {
    margin-left: 0;
}

.team__soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-bg-color--);

}