.works {
    padding-bottom: 94px;
}

.works .container {
    flex-direction: column;
}

.works-list {
    display: flex;
}

.works__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--primary-text-color--);
}

.works__item:not(:last-child) {
    margin-right: 30px;
}

.works img {
    display: block;
    max-width: 100%;
}

.thumb {
    position: relative;
}

.works__description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-bg-color--);
    background-color: var(--galery-overlay-color--);

}